@model ListSeansPageVM

<div class="container mt-4">
    <h2>Film ve Seans Listesi</h2>
    <div class="row">
        @foreach (FilmVM film in Model.Films)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img" src="@film.ImagePath" alt="@film.MovieName">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@film.MovieName</h5>
                                <p class="card-text">Film Süresi: @film.Duration</p>
                                <p class="card-text">Film Türü: @film.Type</p>
                                <p class="card-text">Film Bilgisi: @film.Info</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                @if (film.Seanslar != null && film.Seanslar.Any())
                                {
                                    foreach (SeansVM seans in film.Seanslar)
                                    {
                                        <li class="list-group-item">
                                            <a href="@Url.Action("SeansSeats", "Home", new { seansId = seans.ID, filmId = film.ID })">
                                                @seans.StartTime.ToString("HH:mm") - @seans.EndTime.ToString("HH:mm")
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">Seans bulunmamaktadır.</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
