@model ListSeansPageVM



<style>
    .seat-container {
        width: 60px;
        height: 80px;
        margin: 5px;
        background-color: #ccc;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 5px;
    }

    .yellow-seat {
        background-color: yellow;
    }

    .row {
        margin-bottom: 10px;
    }


    .selected {
        background-color: #00F;
    }

    .empty-seat {
        background-color: #fff; /* Boş beyaz koltuklar için */
    }

    .reserved {
        background-color: yellow; /* Rezerve edilmiş sarı koltuklar için */
    }

    .occupied {
        background-color: red; /* Dolu kırmızı koltuklar için */
    }
</style>

<div class="container mt-4">
    <h4>Koltuklar</h4>
    <div class="row">
        @if (Model != null)
        {
            foreach (var seat in Model.Seats.OrderBy(s => s.Row).ThenBy(s => s.SeatNo))
            {
                <div class="seat-container @GetSeatCssClasses(seat)" onclick="addToCart('@seat.ID', this)">
                    <!-- Koltuk ikonu veya içeriği burada eklenebilir -->
                    <span class="seat-row">@seat.Row</span><br />
                    <span class="seat-no">@seat.SeatNo</span>
                    <a href="@Url.Action("AddToCart", new { id = seat.ID })">Rezervasyon Yap</a>
                    
                </div>
            }
        }
        else
        {
            <p>Boşta koltuk yok.</p>
        }
    </div>
</div>
<submit>
    <button>
        <a href="@Url.Action("CartPage")">Satın Alma</a>
    </button>
</submit>
@functions {
    // Koltuğa uygun CSS sınıflarını döndüren bir yardımcı fonksiyon
    string GetSeatCssClasses(SeatVM seat)
    {
        if (seat.SeatStatus == Project.ENTITIES.Enums.SeatStatus.Reserved)
        {
            return "reserved";
        }
        else if (seat.SeatStatus == Project.ENTITIES.Enums.SeatStatus.Occupied)
        {
            return "occupied";
        }
        else
        {
            return "empty-seat";
        }
    }
}



